/* Importacao de fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-00: #f0f0f0;
    --cor-01: #e0e1dd;

    --cor-02: #8aa7ce;
    --cor-03: #324f70;

    --cor-04: #101f3b;
    --cor-05: #050e1f;

    --cor-06: #95088c;

    --sombra: 0 0.3rem 0.5rem 0.05rem rgba(13, 27, 42, 0.4)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--cor-00);
    color: var(--cor-05);
}

#hero-section {
    position: relative;
    height: 100vh; /* Ocupa 100% do viewport */
    background: url(../img/img1.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--cor-00);
    padding: 2rem;
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-03);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: var(--sombra);
}

nav .logo a {
    color: var(--cor-01);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav .menu li a {
    color: var(--cor-01);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav .menu li a:hover {
    color: var(--cor-06);
}

@media (max-width: 768px) {
    nav .menu {
        display: none;
    }
}

.info {
    display: flex;
    flex-direction: row;
}

.info div {
    flex: 1;
    padding: 2rem;
}

.info img {
    width: 100%;
}

.info p {
    text-align: justify;
}

#produto-mapa {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin: 100px 0;
}

#produto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    flex: 1; /* Faz o produto ocupar o máximo de espaço disponível */
}

#produto img {
    width: 100%;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: var(--sombra);
}

#produto img:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

#mapa-container {
    flex: 1;
    border-radius: 1rem;
    box-shadow: var(--sombra);
}

#avaliacao {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 2rem;
    padding: 2rem;
}

#avaliacao article {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-02);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

#avaliacao article:hover {
    background-color: var(--cor-01);
    transform: translateY(-5px);
}

#avaliacao article img {
    width: 120px;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

#avaliacao article button {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: var(--cor-06);
    border: none;
    color: var(--cor-00);
    cursor: pointer;
    transition: background-color 0.3s;
}

#avaliacao article button:hover {
    background-color: var(--cor-04);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--cor-05);
    color: var(--cor-00);
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    #produto-mapa {
        flex-direction: column;
    }
    #mapa-container {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
}